{% extends "generic.html" %}

{% block content %}
  <div class="container">
    {% for theme in themes %}
        <h2 class="my-4">{{ theme }}</h2>
        <div class="row">
            {% for blog in blogs %}
                {% if blog.blog_theme == theme %}
                    <div class="col-lg-4 col-sm-6 portfolio-item">
                        <div class="card h-100">
                            {% if blog.blog_theme|stringformat:"s" == "Nature" %}
                                {% load static %}
                                <img class="card-img-top" src="{% static 'images/nature.jpg' %}" alt="Nature Image">
                            {% elif blog.blog_theme|stringformat:"s" == "Technology" %}
                                {% load static %}
                                <img class="card-img-top" src="{% static 'images/tech.jpg' %}" alt="Tech Image">
                            {% elif blog.blog_theme|stringformat:"s" == "Space" %}
                                {% load static %}
                                <img class="card-img-top" src="{% static 'images/rocket.jpg' %}" alt="Space Image">
                            {% else %}
                                {% load static %}
                                <img class="card-img-top" src="{% static 'images/placeholder.jpg' %}" alt="Placeholder Image">
                            {% endif %}
                            <div class="card-body">
                                <h4 class="card-title">
                                    {{ blog.blog_title }}
                                </h4>
                                <h5>by
                                    <a href="{{blog.author.get_absolute_url}}"<small style="color:blue;">{{blog.author.first_name}} {{blog.author.last_name}}</small></a>
                                </h5>
                                <p class="card-text just"> {{ blog.blog_summary }} </p>
                                <a href="{{ blog.get_absolute_url }}" class="btn btn-primary">Read More</a>
                            </div>
                            <div class="card-footer text-muted">
                                {{ blog.blog_date }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <hr/>
        {% endfor %}
    </div>
{% endblock %}